<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/styles.css" media=""/>
  </head>
  <body>
    <form action="/email" method="get">
      <input type="text" name="name" value="">
      <textarea name="message" rows="8" cols="48"></textarea>
      <input type="button" name="submit" value="Submit">
    </form>
  </body>
</html>
